## .NET / Visual Studio Ignores
bin/
obj/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pidb
*.booproj
*.sln.docstates

## Publishing & Build Output
publish/
*.publishproj
*.azurePubxml
App_Data/

## Node / NPM (if any used)
node_modules/
dist/
npm-debug.log*

## OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
.vercel/

## Local Dev & Scratch Tools
*.py
scratch/
serve.json
